# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/misc.xml
*.iml
.idea/misc.xml
Dairy Farm Management System.iml
*.class
target/classes/com/dfms/dairy_farm_management_system/Controllers/MainLayoutController.class
target/classes/com/dfms/dairy_farm_management_system/employees.fxml
target/classes/module-info.class
