# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/misc.xml
*.iml
.idea/misc.xml
Dairy Farm Management System.iml
*.class
.classpath
.project
.settings/
*/target/**
target/classes/com/dfms/dairy_farm_management_system/popups/add_new_cow_sale.fxml
target/classes/com/dfms/dairy_farm_management_system/popups/add_new_pregnancy.fxml
target/classes/com/dfms/dairy_farm_management_system/popups/add_new_health_status.fxml
target/classes/com/dfms/dairy_farm_management_system/popups/add_new_vaccination.fxml
target/classes/icons/clock.png
target/classes/icons/note.png
target/classes/icons/routine.png
target/classes/com/dfms/dairy_farm_management_system/animal_monitor.fxml
.idea/misc.xml
