* {
    -green-color: #72ED12;
    -dark-green-color: #72D611;
    -dark-blue-color: #1E293B;
    -light-gray-color: #D9D9D9;
    -yellow-color: #FFC700;
    -nav-link-bottom-border-color: #1B2434;
    -header-color: #616161;
}

.btn {
    -fx-background-color: -green-color;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
}

.combo_box {
    -fx-background-color: -yellow-color;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-transition: 0.5s;
}

.btn:hover {
    -fx-background-color: -dark-green-color;
    -fx-cursor: hand;
}

.input {
    -fx-background-color: -light-gray-color;
    -fx-text-fill: -dark-blue-color;
    -fx-font-size: 1.5em;
    -fx-padding: 10px 10px 10px 36px;
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 28px 28px;
    -fx-background-insets: 0px 0px 0px -8px;
}

.search_bar {
    -fx-background-color: transparent;
    -fx-text-fill: -dark-blue-color;
    -fx-font-size: 1.5em;
    -fx-padding: 10px 10px 10px 36px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: -dark-blue-color;
    -fx-background-radius: 10px;
    -fx-background-position: 8px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 28px 28px;
    -fx-background-insets: 0px 0px 0px -8px;
}

.email_input {
    -fx-background-image: url("../icons/email.png");
}

.password_input {
    -fx-background-image: url("../icons/password.png");
}

.location_input {
    -fx-background-image: url("../icons/location.png");
}

.name_input {
    -fx-background-image: url("../icons/user_name.png");
}

.phone_input {
    -fx-background-image: url("../icons/phone.png");
}

.verify_input {
    -fx-background-image: url("../icons/verify.png");
}

.search_input {
    -fx-background-image: url("../icons/search.png");
}

.box_input {
    -fx-background-image: url("../icons/box.png");
}

.quantity_input {
    -fx-background-image: url("../icons/quantity.png");
}

.category_input {
    -fx-background-image: url("../icons/category.png");
}

.unit_input {
    -fx-background-image: url("../icons/unit.png");
}

.nav_bar {
    -fx-background-color: -dark-blue-color;
}

.welcome_user_label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.user_name {
    -fx-text-fill: -yellow-color;
}

.nav_link {
    -fx-text-fill: white;
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-background-color: -nav-link-bottom-border-color, -dark-blue-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.nav_link:hover {
    -fx-background-color: -yellow-color, -green-color;
    -fx-background-insets: 0, 0 0 0 4;
    -fx-cursor: hand;
}

.main_content {
    -fx-padding: 20px;
}

.header {
    -fx-text-fill: -header-color;
}

.header_green {
    -fx-text-fill: -green-color;
}

.dashboard_item {
    -fx-background-color: -light-gray-color;
    -fx-border-radius: 10px;
    -fx-font-size: 1em;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
}

.dashboard_item_text {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}